@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-synthesis: none !important;
}

html,
body {
    font-family: 'Pretendard', sans-serif;
    font-size: 10px;
}

a {
    color: inherit;
    cursor: pointer;
}

input,
select {
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input:focus,
select:focus {
    outline: none;
}

button {
    font-family: inherit;

    background: transparent;
    outline: none;
    border: none;

    cursor: pointer;
}

/**/

main {}

.visual {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;

    display: block;

    background:
        url('../img/ground.png') center 70%,
        linear-gradient(to bottom, #73BEE2, #0090D2 70%, #EE8789 71%);
    background-size: contain;
    background-repeat: no-repeat;
}

.wrap {
    max-width: 800px;
    margin: auto;
    padding: 0 16px;
}

img {
    max-width: 100%;
}

.visual .title {
    padding: 16px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.visual .title img:first-child {
    width: 50%;
}

.visual .title img:last-child {
    width: 107%;
    max-width: 107%;
    margin-top: -10px;
}

.visual .cont {
    margin-top: -10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.visual .cont>img {
    width: 85%;
}

.gift {
    width: 100%;
    margin-top: -30px;
    margin-bottom: 16px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 10px;
}

.gift .item {
    position: relative;
    padding: 16px 0;
    width: 160px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;

    text-align: center;

    background: #fff;
    border: solid 1px #000;
    border-radius: 20px;
}

.gift .item .rank {
    position: absolute;
    top: 5px;
    left: 5px;

    width: 35px;
    height: 35px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.3rem;
    font-weight: 900;

    background-color: #74C5BD;
    border: solid 1px #000;
    border-radius: 50%;
}

.gift .item .rank.first {
    background-color: #FFF33B;
}

.gift .item .gift-img {
    width: 100%;
    height: 60px;
    margin: 0 auto 12px;
}

.gift .item .gift-img img {
    height: 100%;
    width: auto;
}

.gift .item b {
    width: 100%;
    margin-bottom: 5px;

    display: block;

    font-size: 1.5rem;
}

.gift .item b:last-child {
    margin-bottom: 0;
}

.gift .item b span {
    color: #E465A1;
}

.gift .item p {
    width: 100%;

    font-size: 1.1rem;

    color: #999;
}

.gift .item p.none {
    opacity: 0;
}

.mov {
    position: relative;

    width: 100%;
    padding: 16px;
    background-color: #fff;
    border: solid 1px #000;
}

.mov .title {
    width: fit-content;
    padding: 10px 30px;
    margin: 0 auto 16px;

    font-size: 1.4rem;
    font-weight: bold;

    text-align: center;
    border-radius: 50%;
    background-color: #F09BC0;
    border: solid 1px #000;
}

.mov .mov-wrap {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    background-color: #333;
}

.mov .mov-wrap iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.form {
    position: relative;
    width: 100%;
    padding: 20px 0 30px;

    background: #EE8789;
}

.form form {
    background-color: #fff;
    border: solid 1px #000;
}

.form form .cont {
    padding: 24px 16px;

    display: flex;
    flex-wrap: wrap;
    row-gap: 16px;
    border-bottom: none;

}

.form h3 {
    padding: 10px 30px;
    margin: auto;

    display: inline-block;

    font-size: 1.6rem;

    background-color: #74C5BD;
    border: solid 1px #000;
    border-radius: 50%;
}

.form .label {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    row-gap: 4px;
}

.form .label b {
    width: 100%;

    display: block;
    font-size: 1.4rem;
}

.form .label input[type="text"] {
    width: 100%;
    height: 40px;
    padding: 10px;

    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: -0.4pt;

    border: solid 1px #ccc;

    transition: all .2s;
}

.form .label input[type="text"]::placeholder {
    color: #999;
}

.form .label input[type="text"]:focus {
    border-color: #000;
}

.form .label .fbox {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 4px;
}

.form .label .fbox .btn {
    height: 100%;
    padding: 0 10px;
    display: inline-block;
    text-align: center;
    word-break: keep-all;
    color: #fff;
    background-color: #000;
}

.form .label p.textarea {
    width: 100%;
    height: 80px;
    padding: 10px;
    margin-bottom: 10px;
    overflow-y: scroll;

    font-size: 1.2rem;

    color: #999;
    border: solid 1px #ccc;
}

.form .checkbox {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;

    font-size: 1.3rem;
}

.form .checkbox input[type="checkbox"] {
    width: 15px;
    height: 15px;
    border: solid 1px #999;
}

.form .checkbox input[type="checkbox"]::after {
    content: '✔';

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #fff;
}

.form .checkbox input[type="checkbox"]:checked {
    background-color: #000;
    border-color: #000;
}

.form .error {
    width: 100%;

    font-size: 1.3rem;
    text-align: center;

    color: #ff003e;
}

.form .btn button {
    width: 100%;
    height: 50px;

    font-weight: bold;

    color: #000;
    background-color: #559CF2;
    border-top: solid 1px #000;
}

.form ol {
    padding: 16px 0 0;
}

.form ol li {
    display: flex;
    gap: 5px;

    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 5px;
}

.form ol li:last-child {
    margin-bottom: 0;
}

.form ol li::before {
    content: '·';
    font-size: 1.2rem;
    font-weight: 900;
    ;
}

.form .copy {
    padding-top: 20px;

    font-size: 1.4rem;
    text-align: center;

    color: #fff;
}